//继承
extends ../layout
//声明主要内容。
block content
    .container
        .row
            table.table.table-hover.table-bordered
                thead
                    tr
                        th 类型
                        th 时间
                        th 修改
                        th 删除
                tbody
                    each item in categorys
                        tr(class="item-id-#{item._id}")
                            td #{item.name}
                            //td #{item.year}
                            td #{item.meta.updateAt}
                            td: a(target="_blank" , href="/admin/category/update/#{item._id}") 修改
                            td
                                button.btn.btn-danger.delcategory(type="button",data-id="#{item._id}") 删除
                    script(src="/js/admin.js")


